<header>
  <h1>Game Completed!</h1>
</header>

<section>
  <p>Start a new game:</p>

  <div class="js-form-error"></div>

  <button type="button" class="big-button js-create-room">New Players</button>
  <button type="button" class="big-button js-create-game">Same Players</button>
</section>
