<header>
  <h1>Hello, Friend!</h1>
</header>

<section>
  <p>What name should we call you?</p>

  <form>
    <div class="js-form-error"></div>
    <input type="text" required placeholder="Enter your name">
    <button>Save</button>
  </form>
</section>
