<header>
  <h1>Game</h1>
</header>

<section>
  <p>Enter a room code to join a game!</p>

  <form>
    <div class="js-form-error"></div>
    <input type="text" placeholder="Enter room code">
    <button>Join</button>
  </form>
</section>
