<h1>How to play</h1>

<ul>
  <li>We’ll ask you a question!</li>
  <li>You’ll type your answer. Try to sound correct!</li>
  <li>You’ll try to pick the right answer among those your friends answered.</li>
  <li>You get a point for answering correctly.</li>
  <li>You get a point for each time your answer is chosen!</li>
<ul>

{{#if starting}}
  <h1>Starting game in {{countdown}} second{{s}}…</h1>
{{/if}}
