<p>{{{prompt_html}}}</p>

<ol class="slight-zoom">
  {{#each answers}}
    <li>{{this}}</li>
  {{/each}}
</ol>

<p>Answer on your device now! You have {{countdown}} second{{s}} remaining to answer.</p>
