<!DOCTYPE html>
<html>
  <head>
    <title>ChromecastApi</title>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>
  </head>
  <body data-websocket-url="<%= websocket_connect_url %>">
    <%= yield %>
  </body>
</html>
